body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Police monospace */
  background-color: #1e1e1e; /* Fond sombre */
  color: #d4d4d4; /* Texte clair */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  background-color: #252526;
  color: #d4d4d4;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
}

.terminal {
  background-color: #1e1e1e;
  color: #d4d4d4;
  height: 200px;
  overflow: auto;
  border-top: 1px solid #444;
}

button {
  background-color: #007acc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #005a9e;
}